body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
}

p {
    font-weight: normal;
    color: #333;
}

a {
    text-decoration: none;
    transition: .1s;
}

a.nav-image-link {
    opacity: 0.5;
}

a.nav-image-link:active,
a.nav-image-link:hover {
    opacity: .8;
}

a.nav-page-link {
    font-size: 1.25em;
    color: #679dc1;
}

a.nav-page-link:active,
a.nav-page-link:hover {
    color: #1e4d6f;
    border-bottom: solid #76b5e2;
}

a.current-link {
    color: #1e4d6f;
    border-bottom: solid #76b5e2;
}

ul.nav-all-pages {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

li.nav-page {
    display: block;
    flex: 0 1 auto;
    /* Default */
    list-style-type: none;
}

h1.nav-header-text {
    color: #464242;
    font-size: 4em;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

.logo-link-img {
    width: 2.4em;
}

.logo-link-img-devpost {
    width: 2.7em;
}

.nav-images {
}

.nav-header {
}

.text-align-center {
    text-align: center;
}

.center-header {
    font-size: 3em;
    color: #555;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}