body {
    margin: 2em auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
}

h1 {
	color: #464242;
	font-size: 3.5em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

a {
    font-size: 1.5em;
    color: #679dc1;
    text-decoration: none;
}

a:active, a:hover {
    color: #1e4d6f;
   	border-bottom: solid #76b5e2;
}

a.current-link {
   color: #1e4d6f;
   border-bottom: solid #76b5e2;
}

.container {
  display: flex;
  justify-content: space-between;
}