body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #464242;
}

figcaption {
    font-style: italic;
}

.nav-header {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: justify;
}

.nav-header:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.nav-header-name {
    width: 20em;
    overflow: hidden;
}

.no-bold {
    font-weight: normal;
}

.nav-images {
    display: inline-block;
    vertical-align: baseline;
}

p {
    font-weight: normal;
    font-size: 1.1em;
    color: #464242;
    text-align: justify;
}

a {
    text-decoration: none;
    transition: .1s;
    color: #679dc1;
}

a.nav-image-link {
    opacity: 0.5;
}

a.nav-image-link:active,
a.nav-image-link:hover {
    opacity: .8;
}

.logo-link-img {
    width: 2em;
}

.logo-link-img-devpost {
    width: 2.3em;
}

.logo-link-img-mail {
    width: 2.1em;
}

.logo-container {
  text-indent: -4.9em;
  margin-left: 4.9em;
  white-space: nowrap;
}

.nav-all-pages {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

.nav-page {
    list-style-type: none;
}

a.nav-page-link {
    font-size: 1.25em;
}

a.nav-page-link:active,
a.nav-page-link:hover {
    color: #1e4d6f;
    border-bottom: solid #76b5e2;
}

.current-link {
    color: #1e4d6f;
    border-bottom: solid #76b5e2;
}

.text-align-center {
    text-align: center;
}

.home-center-header {
    font-size: 2.5em;
    color: #333;
    margin-top: 1.2em;
    margin-bottom: 1em;
}

.full-width-img {
    width: 100%;
}

.inline-image-snap {
    width: 1.2em;
    position: relative;
    top: 3px;
}

.inline-image-apple {
    width: 0.9em;
    position: relative;
    top: 1px;
}

.inline-image-dropbox {
    width: 1.2em;
    position: relative;
    top: 3px;
}

.inline-image-google {
    width: 1em;
    position: relative;
    top: 1px;
}

.rubiks-cube-video {
    width: 560px;
    height: 315px;
    display: block;
    margin: auto;
    border: 0px;
}

.blog-navigation {
    margin-top: 1.3em;
    font-size: 1.4em;
    font-style: italic;
}

.clear-float {
    clear: both;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.home-northeastern-link {
    color: #c70000;
}

.home-northeastern-link:active,
.home-northeastern-link:hover {
    color: #ff6d6d;
}

.home-google-link {
    color: #26a741;
}

.home-google-link:active,
.home-google-link:hover {
    color: #00f334;
}

.home-snapchat-link {
    color: #e7e708;
}

.home-snapchat-link:active,
.home-snapchat-link:hover {
    color: #f9f90c;
}

.home-dropbox-link {
    color: #0062ff;
}

.home-dropbox-link:active,
.home-dropbox-link:hover {
    color: #86c8ff;
}


.home-apple-link {
    color: #999999;
}

.home-apple-link:active,
.home-apple-link:hover {
    color: #e8e8e8;
}

.home-robinhood-link {
    color: #20ce99;
}

.home-robinhood-link:active,
.home-robinhood-link:hover {
    color: #25f9b8;
}

.home-twosigma-link {
    color: #0099a6;
}

.home-twosigma-link:active,
.home-twosigma-link:hover {
    color: #22dcec;
}

.home-logo {
    margin-left: .15em;
    width: 1.2em;
    vertical-align: middle;
    position: relative;
}

.home-logo-northeastern {
    margin-left: .15em;
    width: 1.5em;
    top: .2em;
}

.home-logo-google {}

.home-logo-snapchat {
    width: 1.33em;
    bottom: .15em;
}

.home-logo-dropbox {
    width: 1.5em;
}

.home-logo-apple {
    width: 1.18em;
    bottom: .15em;
}

.home-logo-robinhood {
    width: 1em;
}

.home-logo-twosigma {
    width: 1.4em;
}