body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #555;
}

h1,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
  color: #333;
}

a {
  transition: color .2s;
  color: #265C83;
  font-size: 20px;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}