body {
    margin: 2em auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
}

h1 {
	color: #333;
	font-size: 3em;
}
strong {
    color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

a {
    transition: .2s;
    font-size: 1.5em;
}

a:link,
a:visited {
    color: #265C83;
    text-decoration: none;
}

a:hover {
    color: #7FCBFF;
    text-decoration: none;
}

a:active {
    color: #7FCBFF;
    text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

a.current-link {
   color: #7FCBFF;
}
